.weather-app {
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error {
  color: red;
  margin-bottom: 5vh;
}

.weather-card {
  width: 20%;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 5vh;
}

.weather-card span {
  float: right;
}

.form {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  display: flex;
  width: 70%;
}

.input {
  flex-grow: 1;
  margin-left: 5px;
}

.submit {
  margin-top: 1vh;
  width: auto;
}
